# Main study

In this file, I'll explore the data given by the OKCupid app, and will try to create ML models for analyzing and predicting data. 

The what's, how's and any more questions will come as I study the dataset. So read this file as a diary, where I code and ask myself questions. 

First, reading the data and getting columns names

In [71]:
import pandas as pd

profiles = pd.read_csv('profiles.csv')

profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   body_type    54650 non-null  object
 2   diet         35551 non-null  object
 3   drinks       56961 non-null  object
 4   drugs        45866 non-null  object
 5   education    53318 non-null  object
 6   essay0       54458 non-null  object
 7   essay1       52374 non-null  object
 8   essay2       50308 non-null  object
 9   essay3       48470 non-null  object
 10  essay4       49409 non-null  object
 11  essay5       49096 non-null  object
 12  essay6       46175 non-null  object
 13  essay7       47495 non-null  object
 14  essay8       40721 non-null  object
 15  essay9       47343 non-null  object
 16  ethnicity    54266 non-null  object
 17  height       59943 non-null  float64
 18  income       59946 non-null  int64
 19  job          51748 non-null  object
 20  last_online  59946 non-null  object
 21  location     59946 non-null  object
 22  offspring    24385 non-null  object
 23  orientation  59946 non-null  object
 24  pets         40025 non-null  object
 25  religion     39720 non-null  object
 26  sex          59946 non-null  object
 27  sign         48890 non-null  object
 28  smokes       54434 non-null  object
 29  speaks       59896 non-null  object
 30  status       59946 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

In [72]:
profiles.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

In [73]:
profiles.loc[0]

age                                                           22
body_type                                         a little extra
diet                                           strictly anything
drinks                                                  socially
drugs                                                      never
education                          working on college/university
essay0         about me:<br />\n<br />\ni would love to think...
essay1         currently working as an international agent fo...
essay2         making people laugh.<br />\nranting about a go...
essay3         the way i look. i am a six foot half asian, ha...
essay4         books:<br />\nabsurdistan, the republic, of mi...
essay5         food.<br />\nwater.<br />\ncell phone.<br />\n...
essay6                               duality and humorous things
essay7         trying to find someone to hang out with. i am ...
essay8         i am new to california and looking for someone...
essay9         you want to be swept off your feet!<br />\nyou...
ethnicity                                           asian, white
height                                                      75.0
income                                                        -1
job                                               transportation
last_online                                     2012-06-28-20-30
location                         south san francisco, california
offspring           doesn&rsquo;t have kids, but might want them
orientation                                             straight
pets                                   likes dogs and likes cats
religion                   agnosticism and very serious about it
sex                                                            m
sign                                                      gemini
smokes                                                 sometimes
speaks                                                   english
status                                                    single
Name: 0, dtype: object

## Fixing data

Fun stuff. First ideas are to label encode and to one-hot encode some stuff, but let's keep it open ended

Let's check `body_type`

In [74]:
profiles['body_type'].value_counts()

body_type
average           14652
fit               12711
athletic          11819
thin               4711
curvy              3924
a little extra     2629
skinny             1777
full figured       1009
overweight          444
jacked              421
used up             355
rather not say      198
Name: count, dtype: int64

In [75]:
profiles['body_type'].value_counts(1)

body_type
average           0.268106
fit               0.232589
athletic          0.216267
thin              0.086203
curvy             0.071802
a little extra    0.048106
skinny            0.032516
full figured      0.018463
overweight        0.008124
jacked            0.007704
used up           0.006496
rather not say    0.003623
Name: proportion, dtype: float64

The idea was to label-encode this data, but there's no straight order (and it would have some social implications I guess), so one-hot enconding feels like the solution to input this data in the ML models.

In [76]:
# do notice there are 'rather not say' values and there are missing values, so we fill them with 'unknown'
profiles['body_type'] = profiles['body_type'].fillna(value='unknown')

profiles = pd.get_dummies(profiles, prefix='body_type', columns=['body_type'], dtype=int)

Now for `diet`

In [77]:
profiles['diet'].value_counts()

diet
mostly anything        16585
anything                6183
strictly anything       5113
mostly vegetarian       3444
mostly other            1007
strictly vegetarian      875
vegetarian               667
strictly other           452
mostly vegan             338
other                    331
strictly vegan           228
vegan                    136
mostly kosher             86
mostly halal              48
strictly halal            18
strictly kosher           18
halal                     11
kosher                    11
Name: count, dtype: int64

In [78]:
profiles['diet'].value_counts(1)

diet
mostly anything        0.466513
anything               0.173919
strictly anything      0.143822
mostly vegetarian      0.096875
mostly other           0.028326
strictly vegetarian    0.024613
vegetarian             0.018762
strictly other         0.012714
mostly vegan           0.009507
other                  0.009311
strictly vegan         0.006413
vegan                  0.003825
mostly kosher          0.002419
mostly halal           0.001350
strictly halal         0.000506
strictly kosher        0.000506
halal                  0.000309
kosher                 0.000309
Name: proportion, dtype: float64

Here there is not even an attempt at labeling. But also, getting dummies will create 17 new columns.

But, there are values that repeat themselves. Like some peopel will be 'mostly vegan' and some other people are 'stricly vegan'. So the idea is to make a have informations like vegan = true and strictness = mostly (or something like this).

So I'll one-hot encode the type of diet (vegan, anything, kosher ...).

But the 'strictness' feels weird. In one sense, feels logical for no prefix to be labeled 0, mostly is 1, and stricly is 2. On the other sense, imagine one person answered 'vegan', other 'mostly vegan', and the last, 'stricly vegan'. Then, the weaker intention on being vegan falls on the 'mostly' and the higher one, 'stricly', putting the 'no-prefix' in the middle. In that sense, the base-line would be 1 (no prefix), 0's are for 'mostly's and 'stricly' is gonna be 2 (not changed)

There's also a 'why' would someone answer 'anything' and 'stricly anything' which I can't quite grasp, so I'll just stick with the numbers. Also, we'll set baselines of strictness @ 0 for convenience, so mostly is a -1

**Conclusion**: We'll one-hot encode diet_type and label strictness as such:

```python
{
    'stricly': 1,
    'mostly': -1,
    # anything else is a 0 (middle value)
}
```

In [79]:
# fill NaN with unknown 
profiles['diet'].fillna('unknown', inplace=True)

# creates and 1-hto-encodes diet types
profiles['diet_type'] = profiles['diet'].str.replace(r'^(strictly |mostly )', '', regex=True)
profiles = pd.get_dummies(profiles, columns=['diet_type'], dtype=int)

# middleware: for labelling
def get_strictness(x):
    if 'stricly' in x: 
        return 1
    elif 'mostly' in x: 
        return -1
    else: 
        return 0

# labels
profiles['diet_strictness'] = profiles['diet'].apply(get_strictness)

profiles.drop(columns=['diet'], inplace=True, axis=1)

profiles.info()

C:\Users\psena\AppData\Local\Temp\ipykernel_2492\2375089356.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  profiles['diet'].fillna('unknown', inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       59946 non-null  int64
 1   drinks                    56961 non-null  object
 2   drugs                     45866 non-null  object
 3   education                 53318 non-null  object
 4   essay0                    54458 non-null  object
 5   essay1                    52374 non-null  object
 6   essay2                    50308 non-null  object
 7   essay3                    48470 non-null  object
 8   essay4                    49409 non-null  object
 9   essay5                    49096 non-null  object
 10  essay6                    46175 non-null  object
 11  essay7                    47495 non-null  object
 12  essay8                    40721 non-null  object
 13  essay9                    47343 non-null  object
 14  ethnicity                 54266 non-null  object
 15  height                    59943 non-null  float64
 16  income                    59946 non-null  int64
 17  job                       51748 non-null  object
 18  last_online               59946 non-null  object
 19  location                  59946 non-null  object
 20  offspring                 24385 non-null  object
 21  orientation               59946 non-null  object
 22  pets                      40025 non-null  object
 23  religion                  39720 non-null  object
 24  sex                       59946 non-null  object
 25  sign                      48890 non-null  object
 26  smokes                    54434 non-null  object
 27  speaks                    59896 non-null  object
 28  status                    59946 non-null  object
 29  body_type_a little extra  59946 non-null  int64
 30  body_type_athletic        59946 non-null  int64
 31  body_type_average         59946 non-null  int64
 32  body_type_curvy           59946 non-null  int64
 33  body_type_fit             59946 non-null  int64
 34  body_type_full figured    59946 non-null  int64
 35  body_type_jacked          59946 non-null  int64
 36  body_type_overweight      59946 non-null  int64
 37  body_type_rather not say  59946 non-null  int64
 38  body_type_skinny          59946 non-null  int64
 39  body_type_thin            59946 non-null  int64
 40  body_type_unknown         59946 non-null  int64
 41  body_type_used up         59946 non-null  int64
 42  diet_type_anything        59946 non-null  int64
 43  diet_type_halal           59946 non-null  int64
 44  diet_type_kosher          59946 non-null  int64
 45  diet_type_other           59946 non-null  int64
 46  diet_type_unknown         59946 non-null  int64
 47  diet_type_vegan           59946 non-null  int64
 48  diet_type_vegetarian      59946 non-null  int64
 49  diet_strictness           59946 non-null  int64
dtypes: float64(1), int64(23), object(26)
memory usage: 22.9+ MB

## Now for drinking!!

In [80]:
print(profiles['drinks'].value_counts())
print(profiles['drinks'].value_counts(1))

drinks
socially       41780
rarely          5957
often           5164
not at all      3267
very often       471
desperately      322
Name: count, dtype: int64
drinks
socially       0.733484
rarely         0.104580
often          0.090659
not at all     0.057355
very often     0.008269
desperately    0.005653
Name: proportion, dtype: float64

It seems there can be a order to it, so labeling from 0 to 5 (6 values) might be the way to go
- 0 -> not at all
- 1 -> rarely
- 2 -> socially
- 3 -> often
- 4 -> very often
- 5 -> desperately

BUT missings values are a pain. Socially IS the main value by a long shot, so instead of filling NaN with the string 'unknwon', I'll opt to make NaN become 'socially'.

There's obviously pro's and con's on doing this, but since the answers can be with an implied order, keeping said order feels like the right choice

In [81]:
#
profiles['drinks'] = profiles['drinks'].fillna('socially')

profiles['drinks'] = profiles['drinks'].map({
    'not at all': 0,
    'rarely': 1,
    'socially': 2,
    'often': 3,
    'very often': 4,
    'desperately': 5,
})

print(profiles['drinks'].value_counts())
print(profiles['drinks'].value_counts(1))

drinks
2    44765
1     5957
3     5164
0     3267
4      471
5      322
Name: count, dtype: int64
drinks
2    0.746755
1    0.099373
3    0.086144
0    0.054499
4    0.007857
5    0.005372
Name: proportion, dtype: float64

In [82]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       59946 non-null  int64
 1   drinks                    59946 non-null  int64
 2   drugs                     45866 non-null  object
 3   education                 53318 non-null  object
 4   essay0                    54458 non-null  object
 5   essay1                    52374 non-null  object
 6   essay2                    50308 non-null  object
 7   essay3                    48470 non-null  object
 8   essay4                    49409 non-null  object
 9   essay5                    49096 non-null  object
 10  essay6                    46175 non-null  object
 11  essay7                    47495 non-null  object
 12  essay8                    40721 non-null  object
 13  essay9                    47343 non-null  object
 14  ethnicity                 54266 non-null  object
 15  height                    59943 non-null  float64
 16  income                    59946 non-null  int64
 17  job                       51748 non-null  object
 18  last_online               59946 non-null  object
 19  location                  59946 non-null  object
 20  offspring                 24385 non-null  object
 21  orientation               59946 non-null  object
 22  pets                      40025 non-null  object
 23  religion                  39720 non-null  object
 24  sex                       59946 non-null  object
 25  sign                      48890 non-null  object
 26  smokes                    54434 non-null  object
 27  speaks                    59896 non-null  object
 28  status                    59946 non-null  object
 29  body_type_a little extra  59946 non-null  int64
 30  body_type_athletic        59946 non-null  int64
 31  body_type_average         59946 non-null  int64
 32  body_type_curvy           59946 non-null  int64
 33  body_type_fit             59946 non-null  int64
 34  body_type_full figured    59946 non-null  int64
 35  body_type_jacked          59946 non-null  int64
 36  body_type_overweight      59946 non-null  int64
 37  body_type_rather not say  59946 non-null  int64
 38  body_type_skinny          59946 non-null  int64
 39  body_type_thin            59946 non-null  int64
 40  body_type_unknown         59946 non-null  int64
 41  body_type_used up         59946 non-null  int64
 42  diet_type_anything        59946 non-null  int64
 43  diet_type_halal           59946 non-null  int64
 44  diet_type_kosher          59946 non-null  int64
 45  diet_type_other           59946 non-null  int64
 46  diet_type_unknown         59946 non-null  int64
 47  diet_type_vegan           59946 non-null  int64
 48  diet_type_vegetarian      59946 non-null  int64
 49  diet_strictness           59946 non-null  int64
dtypes: float64(1), int64(24), object(25)
memory usage: 22.9+ MB

Now for the drugs

In [83]:
print(profiles['drugs'].value_counts(0))
print(profiles['drugs'].value_counts(1))

drugs
never        37724
sometimes     7732
often          410
Name: count, dtype: int64
drugs
never        0.822483
sometimes    0.168578
often        0.008939
Name: proportion, dtype: float64

For exploratory reasons, I'll put label all missing values to the mode(never). It can be a controversy choice, since not answering the drug questions can also be seeing as a stigma of some sorts, but I'll just keep this in mind when analysing the model. ALSO there's like more than 10k missing values in this column, so there's that

I choose to do this because there's a clear labeling order, and I'd rather keep it :)

In [84]:
profiles['drugs'] = profiles['drugs'].fillna('never')

profiles['drugs'] = profiles['drugs'].map({
    'never': 0,
    'sometimes': 1,
    'often': 2
})

In [85]:
print(profiles['drugs'].value_counts(0))
print(profiles['drugs'].value_counts(1))

drugs
0    51804
1     7732
2      410
Name: count, dtype: int64
drugs
0    0.864178
1    0.128983
2    0.006839
Name: proportion, dtype: float64

Once again, let's keep in mind this should affect our model in the end!

## Education!

In [86]:
print(profiles['education'].value_counts(0))
print(profiles['education'].value_counts(1))

education
graduated from college/university    23959
graduated from masters program        8961
working on college/university         5712
working on masters program            1683
graduated from two-year college       1531
graduated from high school            1428
graduated from ph.d program           1272
graduated from law school             1122
working on two-year college           1074
dropped out of college/university      995
working on ph.d program                983
college/university                     801
graduated from space camp              657
dropped out of space camp              523
graduated from med school              446
working on space camp                  445
working on law school                  269
two-year college                       222
working on med school                  212
dropped out of two-year college        191
dropped out of masters program         140
masters program                        136
dropped out of ph.d program            127
dropped out of high school             102
high school                             96
working on high school                  87
space camp                              58
ph.d program                            26
law school                              19
dropped out of law school               18
dropped out of med school               12
med school                              11
Name: count, dtype: int64
education
graduated from college/university    0.449360
graduated from masters program       0.168067
working on college/university        0.107131
working on masters program           0.031565
graduated from two-year college      0.028715
graduated from high school           0.026783
graduated from ph.d program          0.023857
graduated from law school            0.021044
working on two-year college          0.020143
dropped out of college/university    0.018662
working on ph.d program              0.018437
college/university                   0.015023
graduated from space camp            0.012322
dropped out of space camp            0.009809
graduated from med school            0.008365
working on space camp                0.008346
working on law school                0.005045
two-year college                     0.004164
working on med school                0.003976
dropped out of two-year college      0.003582
dropped out of masters program       0.002626
masters program                      0.002551
dropped out of ph.d program          0.002382
dropped out of high school           0.001913
high school                          0.001801
working on high school               0.001632
space camp                           0.001088
ph.d program                         0.000488
law school                           0.000356
dropped out of law school            0.000338
dropped out of med school            0.000225
med school                           0.000206
Name: proportion, dtype: float64

This one is cool, but will be the same idea for the diets. We'll have the education status, where options are graduated, working, dropped, and education level, where it can be college/university, masters program, two-year college, high school. ph.d program, law school, space camp (wow), med school.

Here, NaN are to be 'unkown', since it's literally that and there will be no attempt to order anything.

In [87]:
profiles['education'] = profiles['education'].fillna('unknown')
# get columns with only education_level
profiles['education_level'] = profiles['education'].replace(['graduated from ', 'working on ', 'dropped out of '], '', regex=True)

# get columns with education status
# middleware 
def get_edu_status(x):
    if 'graduated from ' in x: 
        return 'graduated'
    elif 'working on ' in x:
        return 'working_on'
    elif 'dropped out of ' in x: 
        return 'dropped_out'
    elif 'unknown' in x:
        return 'unknown'
    else:
        return 'unspecified'

profiles['education_status'] = profiles['education'].apply(get_edu_status)
profiles = pd.get_dummies(profiles, columns=['education_status', 'education_level'], dtype=int)

profiles = profiles.drop('education', axis=1)


profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 63 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   age                                 59946 non-null  int64
 1   drinks                              59946 non-null  int64
 2   drugs                               59946 non-null  int64
 3   essay0                              54458 non-null  object
 4   essay1                              52374 non-null  object
 5   essay2                              50308 non-null  object
 6   essay3                              48470 non-null  object
 7   essay4                              49409 non-null  object
 8   essay5                              49096 non-null  object
 9   essay6                              46175 non-null  object
 10  essay7                              47495 non-null  object
 11  essay8                              40721 non-null  object
 12  essay9                              47343 non-null  object
 13  ethnicity                           54266 non-null  object
 14  height                              59943 non-null  float64
 15  income                              59946 non-null  int64
 16  job                                 51748 non-null  object
 17  last_online                         59946 non-null  object
 18  location                            59946 non-null  object
 19  offspring                           24385 non-null  object
 20  orientation                         59946 non-null  object
 21  pets                                40025 non-null  object
 22  religion                            39720 non-null  object
 23  sex                                 59946 non-null  object
 24  sign                                48890 non-null  object
 25  smokes                              54434 non-null  object
 26  speaks                              59896 non-null  object
 27  status                              59946 non-null  object
 28  body_type_a little extra            59946 non-null  int64
 29  body_type_athletic                  59946 non-null  int64
 30  body_type_average                   59946 non-null  int64
 31  body_type_curvy                     59946 non-null  int64
 32  body_type_fit                       59946 non-null  int64
 33  body_type_full figured              59946 non-null  int64
 34  body_type_jacked                    59946 non-null  int64
 35  body_type_overweight                59946 non-null  int64
 36  body_type_rather not say            59946 non-null  int64
 37  body_type_skinny                    59946 non-null  int64
 38  body_type_thin                      59946 non-null  int64
 39  body_type_unknown                   59946 non-null  int64
 40  body_type_used up                   59946 non-null  int64
 41  diet_type_anything                  59946 non-null  int64
 42  diet_type_halal                     59946 non-null  int64
 43  diet_type_kosher                    59946 non-null  int64
 44  diet_type_other                     59946 non-null  int64
 45  diet_type_unknown                   59946 non-null  int64
 46  diet_type_vegan                     59946 non-null  int64
 47  diet_type_vegetarian                59946 non-null  int64
 48  diet_strictness                     59946 non-null  int64
 49  education_status_dropped_out        59946 non-null  int64
 50  education_status_graduated          59946 non-null  int64
 51  education_status_unknown            59946 non-null  int64
 52  education_status_unspecified        59946 non-null  int64
 53  education_status_working_on         59946 non-null  int64
 54  education_level_college/university  59946 non-null  int64
 55  education_level_high school         59946 non-null  int64
 56  education_level_law school          59946 non-null  int64
 57  education_level_masters program     59946 non-null  int64
 58  education_level_med school          59946 non-null  int64
 59  education_level_ph.d program        59946 non-null  int64
 60  education_level_space camp          59946 non-null  int64
 61  education_level_two-year college    59946 non-null  int64
 62  education_level_unknown             59946 non-null  int64
dtypes: float64(1), int64(39), object(23)
memory usage: 28.8+ MB

## ethinicity!
let's have a look

In [88]:
# just so I can see everything
pd.set_option('display.max_rows', None)
print(profiles['ethnicity'].value_counts(0).sum())
print(profiles['ethnicity'].value_counts(1))

54266
ethnicity
white                                                                                                      0.605001
asian                                                                                                      0.113036
hispanic / latin                                                                                           0.052022
black                                                                                                      0.037003
other                                                                                                      0.031438
hispanic / latin, white                                                                                    0.023974
indian                                                                                                     0.019847
asian, white                                                                                               0.014945
white, other                                                                                               0.011812
pacific islander                                                                                           0.007961
asian, pacific islander                                                                                    0.007279
native american, white                                                                                     0.006229
middle eastern                                                                                             0.006063
middle eastern, white                                                                                      0.005528
black, white                                                                                               0.005491
pacific islander, white                                                                                    0.002875
hispanic / latin, other                                                                                    0.002543
black, other                                                                                               0.002451
black, hispanic / latin                                                                                    0.002193
hispanic / latin, white, other                                                                             0.002156
black, native american, white                                                                              0.002027
black, native american                                                                                     0.001843
asian, other                                                                                               0.001751
asian, hispanic / latin                                                                                    0.001622
native american, hispanic / latin, white                                                                   0.001603
native american, hispanic / latin                                                                          0.001345
asian, white, other                                                                                        0.001272
native american                                                                                            0.001235
asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white, other    0.001216
asian, black                                                                                               0.001087
pacific islander, hispanic / latin                                                                         0.001050
asian, pacific islander, white                                                                             0.001014
native american, white, other                                                                              0.000995
asian, indian                                                                                              0.000958
black, white, other                                                                                        0.000903
indian, white                                                                                              0.000848
asian, hispanic / latin, white                                                                             0.000774
middle eastern, white, other                                                                               0.000737
middle eastern, hispanic / latin                                                                           0.000719
asian, pacific islander, other                                                                             0.000700
black, hispanic / latin, white                                                                             0.000663
native american, hispanic / latin, white, other                                                            0.000608
pacific islander, hispanic / latin, white                                                                  0.000553
indian, other                                                                                              0.000553
black, native american, white, other                                                                       0.000534
black, native american, other                                                                              0.000498
black, native american, hispanic / latin, white                                                            0.000479
middle eastern, other                                                                                      0.000424
black, native american, hispanic / latin                                                                   0.000350
pacific islander, white, other                                                                             0.000332
asian, native american, white                                                                              0.000332
black, indian                                                                                              0.000313
native american, other                                                                                     0.000295
asian, black, white                                                                                        0.000276
black, pacific islander                                                                                    0.000276
pacific islander, other                                                                                    0.000258
indian, white, other                                                                                       0.000258
black, hispanic / latin, other                                                                             0.000240
asian, pacific islander, hispanic / latin                                                                  0.000240
native american, hispanic / latin, other                                                                   0.000240
middle eastern, hispanic / latin, white                                                                    0.000221
indian, pacific islander                                                                                   0.000221
asian, middle eastern                                                                                      0.000221
asian, pacific islander, hispanic / latin, white                                                           0.000203
middle eastern, indian                                                                                     0.000203
asian, pacific islander, white, other                                                                      0.000184
black, native american, hispanic / latin, white, other                                                     0.000184
asian, black, native american                                                                              0.000166
asian, hispanic / latin, white, other                                                                      0.000166
asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white           0.000166
asian, middle eastern, white                                                                               0.000166
asian, hispanic / latin, other                                                                             0.000166
asian, black, other                                                                                        0.000166
middle eastern, native american, white                                                                     0.000147
indian, hispanic / latin                                                                                   0.000147
asian, black, native american, white                                                                       0.000147
asian, native american, hispanic / latin, white                                                            0.000129
native american, pacific islander, white                                                                   0.000129
asian, indian, pacific islander                                                                            0.000111
black, indian, white                                                                                       0.000111
middle eastern, black                                                                                      0.000111
asian, black, pacific islander                                                                             0.000111
asian, middle eastern, white, other                                                                        0.000111
native american, pacific islander, hispanic / latin                                                        0.000092
asian, middle eastern, indian                                                                              0.000092
native american, pacific islander, hispanic / latin, white                                                 0.000092
pacific islander, hispanic / latin, white, other                                                           0.000092
asian, native american, white, other                                                                       0.000092
black, native american, hispanic / latin, other                                                            0.000092
asian, native american, hispanic / latin                                                                   0.000092
black, hispanic / latin, white, other                                                                      0.000092
asian, pacific islander, hispanic / latin, white, other                                                    0.000092
asian, indian, other                                                                                       0.000092
asian, indian, white                                                                                       0.000092
black, pacific islander, hispanic / latin                                                                  0.000092
pacific islander, hispanic / latin, other                                                                  0.000092
black, pacific islander, white                                                                             0.000074
asian, native american, pacific islander, hispanic / latin, white                                          0.000074
asian, native american, hispanic / latin, white, other                                                     0.000074
middle eastern, indian, other                                                                              0.000074
middle eastern, hispanic / latin, other                                                                    0.000074
black, pacific islander, other                                                                             0.000074
asian, black, pacific islander, hispanic / latin                                                           0.000074
indian, hispanic / latin, other                                                                            0.000074
black, indian, white, other                                                                                0.000074
asian, native american                                                                                     0.000055
middle eastern, native american, hispanic / latin                                                          0.000055
black, indian, hispanic / latin                                                                            0.000055
asian, indian, pacific islander, other                                                                     0.000055
middle eastern, pacific islander, other                                                                    0.000055
black, native american, indian, other                                                                      0.000055
native american, pacific islander, hispanic / latin, white, other                                          0.000055
asian, black, native american, pacific islander, white                                                     0.000055
asian, middle eastern, indian, other                                                                       0.000055
black, indian, other                                                                                       0.000055
asian, middle eastern, native american, indian, pacific islander, hispanic / latin, white                  0.000037
asian, black, hispanic / latin                                                                             0.000037
native american, pacific islander                                                                          0.000037
asian, middle eastern, black                                                                               0.000037
asian, black, native american, hispanic / latin, white                                                     0.000037
asian, middle eastern, black, pacific islander, hispanic / latin, white                                    0.000037
asian, black, native american, white, other                                                                0.000037
black, indian, hispanic / latin, white                                                                     0.000037
asian, native american, pacific islander, white, other                                                     0.000037
asian, indian, hispanic / latin                                                                            0.000037
asian, indian, white, other                                                                                0.000037
middle eastern, hispanic / latin, white, other                                                             0.000037
asian, black, hispanic / latin, other                                                                      0.000037
native american, pacific islander, white, other                                                            0.000037
asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, other           0.000037
middle eastern, black, native american, white                                                              0.000037
indian, hispanic / latin, white                                                                            0.000037
asian, native american, pacific islander, white                                                            0.000037
asian, native american, other                                                                              0.000037
indian, hispanic / latin, white, other                                                                     0.000037
middle eastern, native american, hispanic / latin, white                                                   0.000037
asian, black, pacific islander, white                                                                      0.000037
asian, pacific islander, hispanic / latin, other                                                           0.000037
black, native american, pacific islander, white                                                            0.000037
asian, black, native american, pacific islander                                                            0.000037
middle eastern, indian, white, other                                                                       0.000037
black, native american, pacific islander, hispanic / latin, white                                          0.000037
asian, middle eastern, black, indian, pacific islander, hispanic / latin, white                            0.000037
asian, middle eastern, hispanic / latin, white                                                             0.000037
black, native american, pacific islander, hispanic / latin, white, other                                   0.000037
asian, middle eastern, black, native american, pacific islander, hispanic / latin, white, other            0.000037
middle eastern, native american, hispanic / latin, white, other                                            0.000037
native american, indian                                                                                    0.000037
middle eastern, black, white                                                                               0.000037
middle eastern, black, native american, indian, white, other                                               0.000037
black, native american, pacific islander                                                                   0.000037
asian, black, native american, other                                                                       0.000037
asian, black, native american, hispanic / latin                                                            0.000037
asian, black, hispanic / latin, white                                                                      0.000037
asian, native american, pacific islander                                                                   0.000037
black, native american, indian, white, other                                                               0.000037
asian, black, native american, pacific islander, other                                                     0.000018
asian, middle eastern, black, native american, indian, pacific islander, white                             0.000018
asian, indian, hispanic / latin, white                                                                     0.000018
asian, black, native american, indian, hispanic / latin, white, other                                      0.000018
asian, black, indian, hispanic / latin, other                                                              0.000018
asian, indian, pacific islander, hispanic / latin, white, other                                            0.000018
asian, middle eastern, black, native american, hispanic / latin, white                                     0.000018
asian, middle eastern, other                                                                               0.000018
middle eastern, pacific islander                                                                           0.000018
middle eastern, indian, white                                                                              0.000018
middle eastern, black, native american, indian, hispanic / latin, white                                    0.000018
middle eastern, black, native american, white, other                                                       0.000018
black, native american, pacific islander, other                                                            0.000018
middle eastern, black, pacific islander, white                                                             0.000018
middle eastern, black, indian, pacific islander, hispanic / latin, white                                   0.000018
black, native american, indian, white                                                                      0.000018

So yeah, a bunch of options and some NaN values. I'll fill those with 'unknown' and we'll one-hot encode the rest!

In [89]:
profiles['ethnicity'] = profiles['ethnicity'].fillna('unknown')

ethinicities = ['white', 'asian', 'hispanic / latin', 'black', 'other', 'indian', 'pacific islander', 'native american', 'middle eastern', 'unknown']

for ethinicity in ethinicities:
    col_name = 'ethinicity_' + ethinicity.replace(' / ', '_').replace(' ', '_')
    profiles[col_name] = profiles['ethnicity'].str.contains(ethinicity).astype(int)
    
    
profiles = profiles.drop('ethnicity', axis=1)

profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 72 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   age                                 59946 non-null  int64
 1   drinks                              59946 non-null  int64
 2   drugs                               59946 non-null  int64
 3   essay0                              54458 non-null  object
 4   essay1                              52374 non-null  object
 5   essay2                              50308 non-null  object
 6   essay3                              48470 non-null  object
 7   essay4                              49409 non-null  object
 8   essay5                              49096 non-null  object
 9   essay6                              46175 non-null  object
 10  essay7                              47495 non-null  object
 11  essay8                              40721 non-null  object
 12  essay9                              47343 non-null  object
 13  height                              59943 non-null  float64
 14  income                              59946 non-null  int64
 15  job                                 51748 non-null  object
 16  last_online                         59946 non-null  object
 17  location                            59946 non-null  object
 18  offspring                           24385 non-null  object
 19  orientation                         59946 non-null  object
 20  pets                                40025 non-null  object
 21  religion                            39720 non-null  object
 22  sex                                 59946 non-null  object
 23  sign                                48890 non-null  object
 24  smokes                              54434 non-null  object
 25  speaks                              59896 non-null  object
 26  status                              59946 non-null  object
 27  body_type_a little extra            59946 non-null  int64
 28  body_type_athletic                  59946 non-null  int64
 29  body_type_average                   59946 non-null  int64
 30  body_type_curvy                     59946 non-null  int64
 31  body_type_fit                       59946 non-null  int64
 32  body_type_full figured              59946 non-null  int64
 33  body_type_jacked                    59946 non-null  int64
 34  body_type_overweight                59946 non-null  int64
 35  body_type_rather not say            59946 non-null  int64
 36  body_type_skinny                    59946 non-null  int64
 37  body_type_thin                      59946 non-null  int64
 38  body_type_unknown                   59946 non-null  int64
 39  body_type_used up                   59946 non-null  int64
 40  diet_type_anything                  59946 non-null  int64
 41  diet_type_halal                     59946 non-null  int64
 42  diet_type_kosher                    59946 non-null  int64
 43  diet_type_other                     59946 non-null  int64
 44  diet_type_unknown                   59946 non-null  int64
 45  diet_type_vegan                     59946 non-null  int64
 46  diet_type_vegetarian                59946 non-null  int64
 47  diet_strictness                     59946 non-null  int64
 48  education_status_dropped_out        59946 non-null  int64
 49  education_status_graduated          59946 non-null  int64
 50  education_status_unknown            59946 non-null  int64
 51  education_status_unspecified        59946 non-null  int64
 52  education_status_working_on         59946 non-null  int64
 53  education_level_college/university  59946 non-null  int64
 54  education_level_high school         59946 non-null  int64
 55  education_level_law school          59946 non-null  int64
 56  education_level_masters program     59946 non-null  int64
 57  education_level_med school          59946 non-null  int64
 58  education_level_ph.d program        59946 non-null  int64
 59  education_level_space camp          59946 non-null  int64
 60  education_level_two-year college    59946 non-null  int64
 61  education_level_unknown             59946 non-null  int64
 62  ethinicity_white                    59946 non-null  int64
 63  ethinicity_asian                    59946 non-null  int64
 64  ethinicity_hispanic_latin           59946 non-null  int64
 65  ethinicity_black                    59946 non-null  int64
 66  ethinicity_other                    59946 non-null  int64
 67  ethinicity_indian                   59946 non-null  int64
 68  ethinicity_pacific_islander         59946 non-null  int64
 69  ethinicity_native_american          59946 non-null  int64
 70  ethinicity_middle_eastern           59946 non-null  int64
 71  ethinicity_unknown                  59946 non-null  int64
dtypes: float64(1), int64(49), object(22)
memory usage: 32.9+ MB

In [90]:
profiles.iloc[0]

age                                                                                  22
drinks                                                                                2
drugs                                                                                 0
essay0                                about me:<br />\n<br />\ni would love to think...
essay1                                currently working as an international agent fo...
essay2                                making people laugh.<br />\nranting about a go...
essay3                                the way i look. i am a six foot half asian, ha...
essay4                                books:<br />\nabsurdistan, the republic, of mi...
essay5                                food.<br />\nwater.<br />\ncell phone.<br />\n...
essay6                                                      duality and humorous things
essay7                                trying to find someone to hang out with. i am ...
essay8                                i am new to california and looking for someone...
essay9                                you want to be swept off your feet!<br />\nyou...
height                                                                             75.0
income                                                                               -1
job                                                                      transportation
last_online                                                            2012-06-28-20-30
location                                                south san francisco, california
offspring                                  doesn&rsquo;t have kids, but might want them
orientation                                                                    straight
pets                                                          likes dogs and likes cats
religion                                          agnosticism and very serious about it
sex                                                                                   m
sign                                                                             gemini
smokes                                                                        sometimes
speaks                                                                          english
status                                                                           single
body_type_a little extra                                                              1
body_type_athletic                                                                    0
body_type_average                                                                     0
body_type_curvy                                                                       0
body_type_fit                                                                         0
body_type_full figured                                                                0
body_type_jacked                                                                      0
body_type_overweight                                                                  0
body_type_rather not say                                                              0
body_type_skinny                                                                      0
body_type_thin                                                                        0
body_type_unknown                                                                     0
body_type_used up                                                                     0
diet_type_anything                                                                    1
diet_type_halal                                                                       0
diet_type_kosher                                                                      0
diet_type_other                                                                       0
diet_type_unknown                                                                     0
diet_type_vegan                                                                       0
diet_type_vegetarian                                                                  0
diet_strictness                                                                       0
education_status_dropped_out                                                          0
education_status_graduated                                                            0
education_status_unknown                                                              0
education_status_unspecified                                                          0
education_status_working_on                                                           1
education_level_college/university                                                    1
education_level_high school                                                           0
education_level_law school                                                            0
education_level_masters program                                                       0
education_level_med school                                                            0
education_level_ph.d program                                                          0
education_level_space camp                                                            0
education_level_two-year college                                                      0
education_level_unknown                                                               0
ethinicity_white                                                                      1
ethinicity_asian                                                                      1
ethinicity_hispanic_latin                                                             0
ethinicity_black                                                                      0
ethinicity_other                                                                      0
ethinicity_indian                                                                     0
ethinicity_pacific_islander                                                           0
ethinicity_native_american                                                            0
ethinicity_middle_eastern                                                             0
ethinicity_unknown                                                                    0
Name: 0, dtype: object

## Height!

It's a straigh number! Just filling NaN with the mean will suffice (there's actually very few missing)

In [91]:
profiles['height'] = profiles['height'].fillna(profiles['height'].mean())

## Income!

In [92]:
print(profiles['income'].value_counts(0))

income
-1          48442
 20000       2952
 100000      1621
 80000       1111
 30000       1048
 40000       1005
 50000        975
 60000        736
 70000        707
 150000       631
 1000000      521
 250000       149
 500000        48
Name: count, dtype: int64

a LOT of -1's. Change that to 0's. 

But I think this wouldn't be a very nice column for training. We'll keep this in mind

In [93]:
profiles['income'] = profiles['income'].replace(-1, 0)

## jobs!

In [94]:
profiles['job'].value_counts(0)

job
other                                7589
student                              4882
science / tech / engineering         4848
computer / hardware / software       4709
artistic / musical / writer          4439
sales / marketing / biz dev          4391
medicine / health                    3680
education / academia                 3513
executive / management               2373
banking / financial / real estate    2266
entertainment / media                2250
law / legal services                 1381
hospitality / travel                 1364
construction / craftsmanship         1021
clerical / administrative             805
political / government                708
rather not say                        436
transportation                        366
unemployed                            273
retired                               250
military                              204
Name: count, dtype: int64

Another multi-label!

In [95]:
profiles['job'] = profiles['job'].fillna('unknown')

profiles = pd.get_dummies(profiles, columns=['job'], dtype=int)

##

In [ ]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 93 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   age                                    59946 non-null  int64
 1   drinks                                 59946 non-null  int64
 2   drugs                                  59946 non-null  int64
 3   essay0                                 54458 non-null  object
 4   essay1                                 52374 non-null  object
 5   essay2                                 50308 non-null  object
 6   essay3                                 48470 non-null  object
 7   essay4                                 49409 non-null  object
 8   essay5                                 49096 non-null  object
 9   essay6                                 46175 non-null  object
 10  essay7                                 47495 non-null  object
 11  essay8                                 40721 non-null  object
 12  essay9                                 47343 non-null  object
 13  height                                 59946 non-null  float64
 14  income                                 59946 non-null  int64
 15  last_online                            59946 non-null  object
 16  location                               59946 non-null  object
 17  offspring                              24385 non-null  object
 18  orientation                            59946 non-null  object
 19  pets                                   40025 non-null  object
 20  religion                               39720 non-null  object
 21  sex                                    59946 non-null  object
 22  sign                                   48890 non-null  object
 23  smokes                                 54434 non-null  object
 24  speaks                                 59896 non-null  object
 25  status                                 59946 non-null  object
 26  body_type_a little extra               59946 non-null  int64
 27  body_type_athletic                     59946 non-null  int64
 28  body_type_average                      59946 non-null  int64
 29  body_type_curvy                        59946 non-null  int64
 30  body_type_fit                          59946 non-null  int64
 31  body_type_full figured                 59946 non-null  int64
 32  body_type_jacked                       59946 non-null  int64
 33  body_type_overweight                   59946 non-null  int64
 34  body_type_rather not say               59946 non-null  int64
 35  body_type_skinny                       59946 non-null  int64
 36  body_type_thin                         59946 non-null  int64
 37  body_type_unknown                      59946 non-null  int64
 38  body_type_used up                      59946 non-null  int64
 39  diet_type_anything                     59946 non-null  int64
 40  diet_type_halal                        59946 non-null  int64
 41  diet_type_kosher                       59946 non-null  int64
 42  diet_type_other                        59946 non-null  int64
 43  diet_type_unknown                      59946 non-null  int64
 44  diet_type_vegan                        59946 non-null  int64
 45  diet_type_vegetarian                   59946 non-null  int64
 46  diet_strictness                        59946 non-null  int64
 47  education_status_dropped_out           59946 non-null  int64
 48  education_status_graduated             59946 non-null  int64
 49  education_status_unknown               59946 non-null  int64
 50  education_status_unspecified           59946 non-null  int64
 51  education_status_working_on            59946 non-null  int64
 52  education_level_college/university     59946 non-null  int64
 53  education_level_high school            59946 non-null  int64
 54  education_level_law school             59946 non-null  int64
 55  education_level_masters program        59946 non-null  int64
 56  education_level_med school             59946 non-null  int64
 57  education_level_ph.d program           59946 non-null  int64
 58  education_level_space camp             59946 non-null  int64
 59  education_level_two-year college       59946 non-null  int64
 60  education_level_unknown                59946 non-null  int64
 61  ethinicity_white                       59946 non-null  int64
 62  ethinicity_asian                       59946 non-null  int64
 63  ethinicity_hispanic_latin              59946 non-null  int64
 64  ethinicity_black                       59946 non-null  int64
 65  ethinicity_other                       59946 non-null  int64
 66  ethinicity_indian                      59946 non-null  int64
 67  ethinicity_pacific_islander            59946 non-null  int64
 68  ethinicity_native_american             59946 non-null  int64
 69  ethinicity_middle_eastern              59946 non-null  int64
 70  ethinicity_unknown                     59946 non-null  int64
 71  job_artistic / musical / writer        59946 non-null  int64
 72  job_banking / financial / real estate  59946 non-null  int64
 73  job_clerical / administrative          59946 non-null  int64
 74  job_computer / hardware / software     59946 non-null  int64
 75  job_construction / craftsmanship       59946 non-null  int64
 76  job_education / academia               59946 non-null  int64
 77  job_entertainment / media              59946 non-null  int64
 78  job_executive / management             59946 non-null  int64
 79  job_hospitality / travel               59946 non-null  int64
 80  job_law / legal services               59946 non-null  int64
 81  job_medicine / health                  59946 non-null  int64
 82  job_military                           59946 non-null  int64
 83  job_other                              59946 non-null  int64
 84  job_political / government             59946 non-null  int64
 85  job_rather not say                     59946 non-null  int64
 86  job_retired                            59946 non-null  int64
 87  job_sales / marketing / biz dev        59946 non-null  int64
 88  job_science / tech / engineering       59946 non-null  int64
 89  job_student                            59946 non-null  int64
 90  job_transportation                     59946 non-null  int64
 91  job_unemployed                         59946 non-null  int64
 92  job_unknown                            59946 non-null  int64
dtypes: float64(1), int64(71), object(21)
memory usage: 42.5+ MB

In [100]:
profiles['orientation'].value_counts()

orientation
straight    51606
gay          5573
bisexual     2767
Name: count, dtype: int64